.btn_login,
.btn_search,
.btn_friend_add,
.btn_friend_remove,
.btn_library_add,
.btn_download,
.btn_share {
  color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 0.2s ease;
}

.btn_login:hover,
.btn_search:hover,
.btn_friend_add:hover,
.btn_friend_remove:hover,
.btn_library_add:hover,
.btn_download:hover,
.btn_share:hover {
  display: block;
  transition: all 0.2s ease;
}

.btn_login,
.btn_search,
.btn_friend_add,
.btn_library_add {
  background-color: #6c69ff;
}

.btn_login:hover,
.btn_search:hover,
.btn_friend_add:hover,
.btn_library_add:hover {
  background-color: #b2000e;
}

.btn_friend_remove {
  background-color: #ff6f6f;
}

.btn_friend_remove:hover {
  background-color: #484554;
}

.btn_login,
.btn_search,
.btn_friend_add,
.btn_friend_remove,
.btn_library_add,
.btn_download,
.btn_share {
  height: 2rem;
}

.btn_login {
  width: 12.5rem;
  font-size: 1rem;
}

.btn_search {
  width: 4.7rem;
}

.btn_friend_add {
  width: 6.3rem;
  font-size: 0.9rem;
}

.btn_friend_remove {
  width: 7.8rem;
  font-size: 0.9rem;
}

.btn_library_add {
  width: 100%;
  font-size: .9rem;
}

.btn_download,
.btn_share {
  width: 48%;
  font-size: 0.9rem;
}

.btn_download {
  background-color: #6c69ff;
  color: #fff;
  margin-right: .5rem;
}

.btn_download:hover {
  background-color: #fff;
  color: #6c69ff;
}

.btn_share {
  background-color: #fff;
  color: #6c69ff;
}

.btn_share:hover {
  background-color: #6c69ff;
  color: #fff;
}
