<div class="card_body">
  <div class="card_img">
    <img src='{{ "../assets/img/" + game.photo + ".jpg" }}'>
    <div class="card_title">{{ game.title }}</div>
    <div class="card_price">{{ game.price }} UAH</div>
  </div>
  <div class="card_description">
    <p>{{ game.description }}</p>
    <div *ngIf="game.isAdded === false" class="btn_container">
      <app-button
        className="btn_library_add"
        text="Add to Library"
        (click)="onToggle(game)"
      ></app-button>
    </div>
    <div *ngIf="game.isAdded === true" class="btn_container">
      <app-button
          className="btn_download"
          text="Download"
        ></app-button>
        <app-button
          className="btn_share"
          text="Remove"
          (click)="onToggle(game)"
        ></app-button>
    </div>
  </div>
</div>
