<div class="app_wrapper_temp">
  <div class="form_item">
    <app-input label="Username" className="form_input"></app-input>
    <app-button className="btn_login" text="Sign In" [isDisabled]="false"></app-button>
  </div>
  <div class="form_item">
    <app-input label="Search Friends" className="form_input"></app-input>
    <app-button className="btn_search" text="Search" [isDisabled]="false"></app-button>
  </div>
  <div class="form_item">
    <app-input label="Search Friends" className="form_input"></app-input>
    <app-button className="btn_friend_add" text="Add Friend" [isDisabled]="false"></app-button>
  </div>
  <div class="form_item">
    <app-input label="My Friends" className="form_input"></app-input>
    <app-button className="btn_friend_remove" text="Remove Friend" [isDisabled]="false"></app-button>
  </div>
  <div class="form_item">
    <app-input label="Search Games" className="form_input"></app-input>
    <app-button className="btn_library_add" text="Add to Library" [isDisabled]="false"></app-button>
  </div>
  <div class="form_item">
    <app-input label="Featured Games" className="form_input"></app-input>
    <app-button className="btn_download" text="Download" [isDisabled]="false"></app-button>
  </div>
  <div class="form_item">
    <app-input label="My Games" className="form_input"></app-input>
    <app-button className="btn_share" text="Share" [isDisabled]="false"></app-button>
  </div>
</div>
