<div class="form">
    <h3 class="form_title">Sign in</h3>
    <div class="wrapper_input">
      <app-input
        (valueChange)="onEmailChange($event)"
        [label]="'Email'"
        [type]="'email'"
        [name]="'email'"
        [className]="'form_input'"
      ></app-input>

      <app-input
        (valueChange)="onPasswordChange($event)"
        [label]="'Password'"
        [type]="'password'"
        [name]="'password'"
        [className]="'form_input'"
      ></app-input>
    </div>

    <app-button
        [type]="'button'"
        [isDisabled]="false"
        [className]="'btn_login'"
        [text]="'Sign In'"
        (btnClick)="login()"
    ></app-button>
</div>
